<DOCTYPE html>
<html>
  <head>
    <title>game</title>
    <script src="./game.js"></script>
  </head>
  <body>
    <canvas style="width:640px; height:480px" id="canvas">
    </canvas>
  </body>
</html>
