<!DOCTYPE html>
<html>
  <head>
    <title>title</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Welcome to</p>
    <form action="/upload" method="post" enctype="multipart/form-data">
      画像ファイル選択<br>
      <input type="file" name="file">
      <br>
      <input type="submit" name="botan" value="送信">
    </form>
  </body>
</html>