<html>
<head>
    <title>login</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="javascripts/game.js"></script>
</head>
<body style="width: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center;">
<!--  <canvas width="640px" height="640px;" id="canvas"></canvas>
-->
    <div style="display: flex;">
    <% allPath.forEach(function(value, key){ %>
        <p> <%= value.name %>: <img src="/images/<%= value.path %>" > </p>
    <% }); %>
    </div>
    <form action="" method="post">
        <h1>login</h1>
        <table>
            <tr>
                <td>mail</td>
                <td><input id="mail" name="mail" type="mail" /></td>
            </tr>
            <tr>
                <td>password</td>
                <td><input id="password" name="password" type="password" /></td>
            </tr>
        </table>
        <button>send</button>
    </form>
    <br>
    <a href="signup">sign up</a>
</body>
</html>
