<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>PWA Sample</title>
  <link rel="manifest" href="./manifest.json">
  <link rel="stylesheet" href="./css/style.css">
  <script src="./app.js"></script>
</head>
<body>
  <h1 class="main-title">PWA</h1>
  <ul class="news">
    <li class="news__item">
      <a href="./pages/c.html">
        <img src="https://bigaru.com/img" alt="" class="news__thumbnail">
        <span class="news__title">ニュースタイトル4</span>
      </a>
    </li>
    <li class="news__item">
      <a href="./pages/c.html">
        <div id="err"></div>
        <img alt="" class="news__thumbnail" id="img">
        <span class="news__title">ニュースタイトル5</span>
      </a>
    </li>
  </ul>

  <div>
    <p><button id="clear_cache">ユーザーによるキャッシュ削除</button><button id="fetch_button">ユーザーによるfetch</button></p>
  </div>

<script>
  console.log("index.html");
</script>

</body>
</html>

